.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 80vh; 
}

.box {
    border: 3px double black;
    height: 420px;
    width: 320px;
    background-color: rgba(128, 128, 128, 0.351);
    box-shadow: aqua;
}
.foo{
    height: 60px;
    width: 90%;
    margin:8% 2% 4% 5%;
    background-color: rgba(128, 128, 128, 0.351);
    border: none;
    font-size: 30px;
}
.downbox{

height: 76%;
width: 100%;

}
.col-md-2{
 margin: auto;
 height: 310px;
 border: 2px solid rgb(194, 14, 14);

}
.one{
    margin-top: 1.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.two{
    height: 60px;
    width: 310px;
    
    
}
.btn1{
    padding: 5% 9% 5% 10%;
    border: none;
    background: transparent;
    
}
.addon{
    background-color: rgb(13, 110, 253);
    padding: 2% 21% 2% 21% ;
    border: none;
    color: white;
}
#t4,#t8,#t12,#t16{
    
    color: rgb(47, 16, 252); 

}
#t1{
    color: orangered;
}


